/************************ BLOCKS INDIVIDUELS ***************************/

.container {
    display: grid;
    grid-template-rows: repeat(10, 100px);
    grid-template-columns: repeat(10, 100px);
    grid-gap: 1em;
}

.block-1 {
    background-color: pink;
    border-radius: 5px;
    text-align: center;
    grid-area: 1 / 1 / 2 / 10;
}

.block-2 {
    background-color: rgb(95, 163, 235);
    border-radius: 5px;
    text-align: center;
    grid-area: 2 / 1 / 7 / 6;
}


.block-3 {
    background-color: rgb(119, 232, 91);
    border-radius: 5px;
    text-align: center;
    grid-area: 2 / 6 / 3 / 10;
}

.block-4 {
    background-color: rgb(244, 160, 244);
    border-radius: 5px;
    text-align: center;
    grid-area: 3 / 6 / 5 / 8;
}

.block-5 {
    background-color: rgb(221, 224, 120);
    border-radius: 5px;
    text-align: center;
    grid-area: 3 / 8 / 5 / 10;
}

.block-6 {
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    grid-area: 5 / 6 / 7 / 8;
}

.block-7 {
    background-color: rgb(172, 90, 90);
    border-radius: 5px;
    text-align: center;
    grid-area: 5 / 8 / 7 / 10;
}

/************************ RESPONSIVE DESIGN ***************************/

@media (max-width: 600px) {
  /* style appliqué aux téléphones mobiles */
    .block-1 {
        grid-area: 1 / 1 / 2 / 5;
    }
    .block-2 {
        grid-area: 2 / 1 / 5 / 3;
    }
    .block-3 {
        grid-area: 2 / 3 / 3 / 5;
    }
    .block-4 {
        grid-area: 3 / 3 / 4 / 4;
    }
    .block-5 {
        grid-area: 3 / 4 / 4 / 5;
    }
    .block-6 {
        grid-area: 4 / 3 / 5 / 4;
    }
    .block-7 {
        grid-area: 4 / 4 / 5 / 5;
    }
}

@media (min-width: 600px) and (max-width: 940px) {
    .block-1 {
        grid-area: 1 / 1 / 2 / 9;
    }
    .block-2 {
        grid-area: 2 / 1 / 5 / 5;
    }
    .block-3 {
        grid-area: 2 / 5 / 3 / 9;
    }
    .block-4 {
        grid-area: 3 / 5 / 4 / 7;
    }
    .block-5 {
        grid-area: 3 / 7 / 4 / 9;
    }
    .block-6 {
        grid-area: 4 / 5 / 5 / 7;
    }
    .block-7 {
        grid-area: 4 / 7 / 5 / 9;
    }
}
